@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        errorSummary: components.errorSummary,
        inputDate: components.inputDate,
        formHelper: FormWithCSRF,
        button: components.button,
        h1: components.h1,
        p: components.p
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "furloughStartDate.title"))) {

    @formHelper(action = FurloughStartDateController.onSubmit(), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        <fieldset class="govuk-fieldset" role="group" aria-describedby="furlough-heading-hint">
            <legend class="govuk-fieldset__legend--l">
                <h1 class="govuk-heading-xl">
                @messages("furloughStartDate.heading")
                </h1>
            </legend>

            <span id="furlough-heading-hint" class="govuk-body">messages("furloughStartDate.hint")</span>
        </fieldset>




        @inputDate(
            form,
            ""
        )

        @button("site.continue")
    }
}
