@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes.TopupPeriodsController
@import models.TopupPeriods

@this(
    govukLayout: templates.GovukLayoutWrapper,
    formHelper: FormWithCSRF,
    errorSummary: components.errorSummary,
    button: components.button,
    checkboxes: components.inputCheckboxes
)

@(form: Form[Set[TopupPeriods]])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "topupPeriods.title"))) {

    @formHelper(action = TopupPeriodsController.onSubmit()) {

        @errorSummary(form.errors)

        @checkboxes(
            form = form,
            legend = messages("topupPeriods.heading"),
            legendAsHeading = true,
            items = TopupPeriods.options(form)
        )

        @button("site.saveAndContinue")
    }
}
