@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes.TopupPeriodsController
@import models.TopupPeriods
@import models.PeriodBreakdown
@import java.time.LocalDate

@this(
    govukLayout: templates.GovukLayoutWrapper,
    formHelper: FormWithCSRF,
    errorSummary: components.errorSummary,
    button: components.button,
    checkboxes: components.inputCheckboxes
)

@(form: Form[List[LocalDate]], payDates: Seq[PeriodBreakdown])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "topupPeriods.title"))) {

    @formHelper(action = TopupPeriodsController.onSubmit()) {

        @errorSummary(form.errors)

        @checkboxes(
            form = form,
            legend = messages("topupPeriods.heading"),
            legendAsHeading = true,
            items = TopupPeriods.options(form, payDates),
            hint = Some(Html(messages("topupPeriods.hint")))
        )

        @button("site.saveAndContinue")
    }
}
